
@{
    ViewData["Title"] = "Book";
}

<span class="text-dark fs-2">Mahşer <small class="text-dark fs-6">Stephen King</small></span>
<hr class="text-success" />
<div class="row">
    <div class="col-4">
        <img src="https://localhost:7262/uploads/books/hayvan-mezarligi-20240215084712288.jpg" alt="" width="350px" />
    </div>
    <div class="col-8">
        <div class="form-group">
            <span class="text-dark fs-3">Mahşer</span>
        </div>
        <div class="form-group">
            <span class="text-dark fs-6">Stephen King</span> | 
            <span class="text-dark fs-6">Bilim Kurgu</span>
        </div>
        <div class="form-group">
            <del class="text-warning fs-4">100</del>
            <del class="text-warning fs-6">,00</del>
            <del class="text-warning fs-4">₺</del>
        </div>
        <div class="form-group">
            <strong class="text-success fs-1">150</strong>
            <span class="text-success fs-6">,00</span>
            <span class="text-success fs-1">₺</span>
        </div>
        <div class="form-group mt-5">
            Açıklama
            <hr />
            <p>
                Mahşer, macera, aşk, kehanet, alegori, fantezi ve realizm öğeleriyle harmanlanmış harika bir roman.”
                The New York Times Book Review
            </p>

            <p>
                Biyolojik denemeler yapılan bir kuruluştan kaçan biri, kısa süre sonra domino etkisiyle insanların yüzde doksan dokuzunu yok edecek mutasyona uğramış ölümcül bir grip mikrobunu yaymaya başlar. Hayatta kalmayı başaran korku ve şaşkınlık içindeki bir avuç insan kendilerini kurtaracak bir lider arayışı içine girer. Ve iki aday ortaya çıkar... Colorado’da bir halkevi kurmakta ısrar eden 108 yaşındaki hayırsever rahibe Abagail ve kötülükten başka bir şey düşünmeyen, kargaşadan mutlu olan şiddet yanlısı “kötü adam” Randall Flagg...
            </p>

            <p>
                Yalnızca düşlerde var olabileceğini sandığımız karanlık bir hikâye...
            </p>
            <p>

                Liste Fiyatı:	570,00
                Çevirmen:	Canan Kim
                Yayın Tarihi:	02.05.2018
                ISBN:	9789752114074
                Dil:	TÜRKÇE
                Sayfa Sayısı:	1216
                Cilt Tipi:	Karton Kapak
                Kağıt Cinsi:	Kitap Kağıdı
                Boyut:	13.5 x 21.5 cm

            </p>
        </div>
    </div>
</div>
<div class="row mt-3">
    <h4>Sizin için seçtiklerimiz</h4>
    <hr />
</div>
<div class="row">
    <div class="card col-md-3 m-2 text-center" style="width: 18rem;">
        <img src="https://localhost:7262/uploads/books/hayvan-mezarligi-20240215084712288.jpg" class="card-img-top mx-auto mt-3" alt="..." style="height:350px; width:250px;">
        <div class="card-body">
            <h5 class="card-title">Mahşer</h5>
            <h3 class="card-text text-warning">150,00 ₺</h3>
            <a asp-controller="Book" asp-action="Index" asp-route-id="1" class="btn btn-primary">Detaylı Bilgi</a>
        </div>
    </div>
    <div class="card col-md-3 m-2 text-center" style="width: 18rem;">
        <img src="https://localhost:7262/uploads/books/hayvan-mezarligi-20240215084712288.jpg" class="card-img-top mx-auto mt-3" alt="..." style="height:350px; width:250px;">
        <div class="card-body">
            <h5 class="card-title">Mahşer</h5>
            <h3 class="card-text text-warning">150,00 ₺</h3>
            <a asp-controller="Book" asp-action="Index" asp-route-id="1" class="btn btn-primary">Detaylı Bilgi</a>
        </div>
    </div>
    <div class="card col-md-3 m-2 text-center" style="width: 18rem;">
        <img src="https://localhost:7262/uploads/books/hayvan-mezarligi-20240215084712288.jpg" class="card-img-top mx-auto mt-3" alt="..." style="height:350px; width:250px;">
        <div class="card-body">
            <h5 class="card-title">Mahşer</h5>
            <h3 class="card-text text-warning">150,00 ₺</h3>
            <a asp-controller="Book" asp-action="Index" asp-route-id="1" class="btn btn-primary">Detaylı Bilgi</a>
        </div>
    </div>
    <div class="card col-md-3 m-2 text-center" style="width: 18rem;">
        <img src="https://localhost:7262/uploads/books/hayvan-mezarligi-20240215084712288.jpg" class="card-img-top mx-auto mt-3" alt="..." style="height:350px; width:250px;">
        <div class="card-body">
            <h5 class="card-title">Mahşer</h5>
            <h3 class="card-text text-warning">150,00 ₺</h3>
            <a asp-controller="Book" asp-action="Index" asp-route-id="1" class="btn btn-primary">Detaylı Bilgi</a>
        </div>
    </div>
</div>
